<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic To Do</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="client.js">
    </script>
  </head>
  <body>
    <div id='main'>
      <div id='right'>
        <h1 id='hOne'>Add a Task to Your List</h1>
        <form action="/set" method="post">
          <label>Task Name</label>
          <input type ='text' name='task' id='task' class='field' value=''>
          <label>Points</label>
          <input type="text" name='points' id='points' class='field'>
          <label>Completed?</label>
          <input type="checkbox" name="complete"><br />
           <input class='submit' type="submit" value="Submit" href='/'>
        </form>
            <a href="/delete">Delete All</a>
      </div>
      <div id='left'>
        <div class='tasks-container'>
          <div class='headers'>
            <ul class='columns'>
              <li class="column header-name">Name</li>
              <li class="header-points">Points</li>
              <li class='header-status'>Status</li>
              <li class='header-update'>Update</li>
            </ul>
          </div>
          <ul class='task-list'>
          </ul>

        </div>

      </div>
  </div>
  </body>
</html>
