body {
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: 'verdana';
  font-size: 1.5em;
  text-align: center;
}
#hOne {
  margin-top: 10%;
}
h2 {
  display: inline-block;;
}
form {
  margin: 0 auto;
}
input {
  margin: 0 auto;
  font-size: 1em;
  color:#ccc;
}
.field {
  width:150px;
}
.submit {
  margin: 2%;
  width: 800px;
}
.task-list li {
  display: block;
  margin: 5%;
  font-size: 1em;
  color:blue;
}
ul {
  display: block;
}
#tasks-container{
  height:500px;
  width:800px;
  background-color: #fcfcfc;
  margin: 0 auto;
}
.selected {
  background-color: yellow;
}
